<div class="row">
<div class="small-12 columns">
<div class="form-style-10">
<h1>Sign up</h1>

<%= render 'form' %>
<p>Find me in app/views/users/new.html.erb</p>

<%= link_to 'Back', users_path %>
</div>
</div>
</div>